html,
body {
  margin: 0;
  font-family: "Karla";
  color: #546e7a;
}

* {
  box-sizing: border-box;
}

.timetable {
  display: grid;
  grid-template-areas: ". week" "time content";
  grid-template-columns: 120px;
  grid-template-rows: 60px;
  width: 80vw;
  height: 100vh;
}

.timetable .week-names {
  grid-area: week;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-transform: uppercase;
  font-size: 12px;
}
.timetable .week-names > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 1px 1px #eceff1;
}
.timetable .time-interval {
  grid-area: time;
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  font-size: 14px;
}
.timetable .time-interval > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 1px 1px 0 #eceff1;
}
.timetable .content {
  grid-area: content;
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  grid-template-columns: repeat(7, 1fr);
}
.timetable .content > div {
  box-shadow: inset 1px 0 0 #eceff1, inset 0 1px 0 0 #eceff1;
}