aside {
	min-width: 15%;
	background-image: linear-gradient(#5389c0 30%, #211cc5);
	overflow: auto;
}

aside > div {
	margin-left: 10px;
}

#photo > img {
	width: 130px;
	margin: 10px;
	padding-bottom: 15px;
}

p {
	font-weight: bold;
	font-size: 20px;
}

.main {
	flex: 1;
	display: flex;
	background-color: #25599c;
	min-height: 100vh;
}

main {
	width: 85%;
}

.mainbody {
	display: flex;
	flex-wrap: wrap;
}

.file {
	width: 168px;
	height: 280px;
	margin: 10px;
	border-radius: 10px;
	border: double 5px transparent;
	background-image: linear-gradient(#ffffff, #ffffff),
		linear-gradient(45deg, #c02121, #2519ca);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.hidden {
	display: none;
}

#bar-chart {
	max-width: 800px;
	max-height: 450px;
	/* background-color: #ffffff; */
}

#line-chart {
	max-height: 450px;
}

#pie-chart {
	max-width: 800px;
	max-height: 450px;
}

#logout{
	background-color: #c02121;
	padding: 10px;
	border-radius: 15px;
	border: none;
	color: #ffffff;
	font-weight: bold;
	opacity: 0.2;
}